{% extends "layout.html" %}

{% block body %}

    <body>

    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui red header">
                <div class="content">
                    My To Do List
                </div>
            </h2>

            <form class="ui large form" action="{{ request.path }}" method="post">
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui input">
                            <input type="text" name="title" placeholder="Title...">
                        </div>
                        <button class="ui fluid large red button">Add</button>
                    </div>
                </div>
            </form>

            <div class="ui message">
                <div class="ui large aligned divided list">
                    <div class="item">
                        <div class="content" id="todo_list">
                            {% for todo in todos %}
                                <li {% if todo.done != 0 %} class="checked" {% endif %}>
                                    <input type="checkbox"
                                           onclick="todoUpdate({{ todo.id }})"
                                           value="{{ todo.title }}"
                                            {% if todo.done %} checked {% endif %}>
                                    {{ todo.title }}
                                    <i class="remove circle outline icon" onclick="todoDelete({{ todo.id }})"></i>
                                </li>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function checked(chkbox) {
            if (chkbox.checked == true) {
                alert("선택");
            }
            else {
                alert("선택 해제");
            }
        }

        function todoUpdate(id) {
            var form = document.createElement("form");
            form.setAttribute("charset", "UTF=8");
            form.setAttribute("method", "post");
            form.setAttribute("action", "/todo/" + id + "/update");

            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("id", id);
            hiddenField.setAttribute("value", id);
            form.appendChild(hiddenField);

            document.body.appendChild(form);

            form.submit();
        }


        function todoDelete(id) {
            var form = document.createElement("form");
            form.setAttribute("charset", "UTF=8");
            form.setAttribute("method", "post");
            form.setAttribute("action", "/todo/" + id + "/delete");

            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("id", id);
            hiddenField.setAttribute("value", id);
            form.appendChild(hiddenField);

            document.body.appendChild(form);

            form.submit();
        }
    </script>

    <style>
        #todo_list li.checked {
            background: #888;
            color: #fff;
            text-decoration: line-through;
        }

        #todo_list li.checked::before {
            position: absolute;
            border-color: #fff;
            border-style: solid;
            border-width: 0 2px 2px 0;
            top: 10px;
            left: 16px;
            transform: rotate(45deg);
            height: 15px;
            width: 7px;
        }
    </style>
{% endblock %}
